*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1{
    color: blue;
    font-size: 3rem;
}

.play{
    color: blue;
    padding: 15px 20px;
    border-radius: 15px;
    background-color: cornflowerblue;
    font-size: 18px;
}

.play:hover{
    background-color: rgb(79, 136, 242);
}

main{
    width: 100%;
    height: calc(100vh - 200px);
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid{
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 45px;
    height: 45px;
    border: 2px solid #ffffff;
}

.background{
    background-color: blue;
}


footer{
    width: 100%;
    height: 80px;
}

